<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}} :: {{site_title}}</title>
        <link href="{{baseurl}}/assets/{{app_version}}/css/foundation.min.css" rel="stylesheet" type="text/css" />
        <link href="{{baseurl}}/assets/{{app_version}}/css/all.css" rel="stylesheet" type="text/css" />
        <script src="{{baseurl}}/assets/{{app_version}}/js/vendor/modernizr.js"></script>
    </head>

    <body>

        <header>
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name"> 
                        <h1><a href="{{baseurl}}/">{{site_title}}</a></h1>
                    </li>
                </ul>

                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right" id="menu_2">
                        {% for mod,path in modulePaths %}
                        {% include "menu_2_#{mod}.html" ignore missing %}
                        {% endfor %}
                    </ul>

                    <!-- Left Nav Section -->
                    <ul class="left">
                        {% for group,grouptables in tables %}
                        <li class="has-dropdown">
                            <a>{{group}}</a>
                            <ul class="dropdown">
                                {% for table in grouptables %}
                                <li>
                                    <a href="{{baseurl}}/table/{{table.name}}">
                                        {{table.title}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </nav>
        </header>

        {% if alerts %}
        <div class="panel">
            {% for alert in alerts %}
            <div data-alert class="alert-box {{ alert.type }}">
                {{alert.message|raw}} <a href="#" class="close">&times;</a>
            </div>
            {% endfor %}
        <div>
        {% endif %}

        <div id="content">
            <h1>
                {{title}}
                {% if subtitle %}
                <small>{{subtitle}}</small>
                {% endif %}
            </h1>
            {% block content %}{% endblock %}
        </div>

        <footer class="top-bar">
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li>
                        <a href="https://github.com/samwilson/klio" title="Go to the Klio website">{{app_title}}</a>
                    </li>
                </ul>
            </section>
        </footer>

        {% for query in queries %}
        <pre class="queries">{{query}}</pre>
        {% endfor %}

        <script src="{{baseurl}}/assets/{{app_version}}/js/vendor/jquery.js"></script>
        <script src="{{baseurl}}/assets/{{app_version}}/js/foundation.min.js"></script>
        <script src="{{baseurl}}/assets/{{app_version}}/js/app.js"></script>
        <script>$(document).foundation();</script>
    </body>
</html>
