
{% if table.pageCount > 1 %}
<ul class="pagination">

    <li class="arrow
        {% if table.currentPageNum < 2 %}unavailable{% endif %}
        "
        >
        <a {% if table.currentPageNum > 1 %}
            href="{{baseurl}}/table/{{table.name}}/{{table.currentPageNum - 1}}"
            title="Go to page {{table.currentPageNum - 1}}"
            {% endif %}
            >&larr; Previous</a>
    </li>

    {% for p in 1..table.pageCount %}
        {% if (p < 5) or (p > table.currentPageNum-5 and p < table.currentPageNum+5) or (p>table.pageCount-5) %}
        <li class="{% if table.currentPageNum == p %}current{% endif %}">
            <a {% if table.currentPageNum != p %}
                href="{{baseurl}}/table/{{table.name}}/{{p}}"
                {% endif %}
                >
                {{p|number_format}}
            </a>
        </li>
        {% elseif p==6 or p==table.currentPageNum-6 or p==table.currentPageNum+6 or p==table.pageCount-6  %}
        <li>&hellip;</li>
        {% endif %}
    {% endfor %}

    <li class="arrow
        {% if table.currentPageNum == table.pageCount %}unavailable{% endif %}
        ">
        <a {% if table.currentPageNum < table.pageCount %}
            href="{{baseurl}}/table/{{table.name}}/{{table.currentPageNum+1}}"
            title="Go to page {{table.currentPageNum+1}}"
            {% endif %}
            >Next &rarr;</a>
    </li>

</ul>
{% endif %}
