{% extends "page.html" %}

{% block content %}

{% include "subnav.html" with {'active': 'table'} %}

<form action="{{baseurl}}/table/{{table.name}}" method="get" class="filters">

    {% for fid,filter in filters %}
    <div class="filter row">
        <div class="large-2 columns filter data-filter-num="{{fid}}">
            <label class="right inline">
            {% if fid==0 %}Find records where{% else %}and{% endif %}&hellip;
            </label>
        </div>
        <div class="large-3 columns">
            <select name="filter[{{fid}}][column]">
                {% for column in table.columns %}
                <option value="{{column.name}}" {% if column.name==filter.column %}selected{% endif %}>
                    {{column.title}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="large-2 columns">
            <select name="filter[{{fid}}][operator]">
                {% for op,name in operators %}
                <option value="{{op}}" {% if op==filter.operator %}selected{% endif %}>
                    {{name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="large-5 columns">
            <input type="text" name="filter[{{fid}}][value]" value="{{filter.value}}" />
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="large-2 columns"></div>
        <div class="large-10 columns submit">
            <input type="submit" value="Search" class="button success small" />
            {% if filterCount > 1 %}
            <a href="{{baseurl}}/table/{{table.name}}?filters=" class="button default small">Clear filters</a>
            {% endif %}
        </div>
    </div>

</form>

<p>{{row_count|number_format}} record{% if row_count != 1 %}s{% endif %}</p>

{% include "pagination.html" %}

<table>
    <thead>
        <tr>
            <th></th>
            {% for column in table.columns %}
            <th>{{column.title}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>
                <a href="{{baseurl}}/record/{{table.name}}/{{record.getPrimaryKey}}" class="">Edit</a></td>
            {% for column in table.columns %}
            <td class="type-{{ column.type }} {% if column.isForeignKey %}is-foreign-key{% endif %}">

                {% if column.isForeignKey %}
                <a href="{{baseurl}}/record/{{column.getReferencedTable.name}}/{{ attribute(record, column.name) }}">
                    {{ attribute(record, column.name~'FKTITLE') }}
                </a>

                {% elseif column.isBoolean %}
                {% if attribute(record, column.name) is sameas(true) %}
                Yes
                {% elseif attribute(record, column.name) is sameas(false) %}
                No
                {% else %}
                
                {% endif %}

                {% else %}
                {{ attribute(record, column.name) }}

                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}
