{% extends "page.html" %}

{% block content %}

{% include "subnav.html" with {'active': 'table'} %}

<p>{{row_count}} records</p>
<table>
    <thead>
        <tr>
            <th></th>
            {% for column in table.columns %}
            <th>{{column.title}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in table.records %}
        <tr>
            <td><a href="{{baseurl}}/record/{{table.name}}/{{record.getPrimaryKey}}" class="">Edit</a></td>
            {% for column in table.columns %}
            <td class="type-{{ column.type }} {% if column.isForeignKey %}is-foreign-key{% endif %}">

                {% if column.isForeignKey %}
                <a href="{{baseurl}}/record/{{column.getReferencedTable.name}}/{{ attribute(record, column.name) }}">
                    {{ attribute(record, column.name~'FKTITLE') }}
                </a>

                {% else %}
                <!--{{ row }}<br />
                [{{row[column.name]}}]<br />-->
                {{ attribute(record, column.name) }}

                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<pre>{{table}}</pre>

{%endblock%}
