{% extends "base.twig" %}

{% block content %}
    <ul>
        {% for table in tables %}
            <li><a href="{{baseurl}}/table/{{table}}">{{table|titlecase}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}