{%extends "base.twig"%}

{% block content %}
    <p>
        Welcome to {{site_title}}.
        Click the 'Install' button to install or upgrade the application.
    </p>
    <form action="{{baseurl}}/install" method="post">
        <button>Install</button>
    </form>
{%endblock%}
