{%extends "base.twig"%}

{% block content %}
    <form action="" method="post">
        <p>
            <label>
                Username: <input type="text" name="username" />
            </label>
            <label>
                Password: <input type="password" name="password" />
            </label>
            <input type="submit" value="Log in" />
        </p>
    </form>
{% endblock %}