{%extends "base.twig"%}

{% block content %}
    <form action="" method="post">
        <p>
            <label>
                Username: <input type="text" name="username" class="focus-me" required="required" />
            </label>
            <label>
                Password: <input type="password" name="password" required="required" />
            </label>
            <button>Log in</button>
        </p>
    </form>
{% endblock %}